**__pycache__**
outputs*
checkpoints*
tools*
.pip_cache/
.hf_cache/
.venv/
.cache/
.mpl_cache/
pretrained_model/
data_cache/
results/
img_files/*current*
img_files/person*.png
img_files/person*.npz
wav_files/*.wav
data_json/*current*
data_json/local_*
configs/motion_gen/*current*
configs/motion_gen/local_*
